<li>
    {{burger_name}}
        <button class = "change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
            {{#if devour}}LET'S EAT!{{else}}RE-ORDER!{{/if}}
        </button>

        <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>